<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Anatomia CSS</title>
    <style>
        /*Propriedade dois pontos , valor e ponto e virgula assim é dado o Css */ 
        .seletor {
            color: #fff;
            font-size: 30px;
            text-align: center;
            /*Temos um valor pré defino */
            /* multiplos valores */
            border: solid 5px navy;
            /*shorthand prorperty */
            font-family: Helvetica, sans-serif;
            /*Funções */
            width: calc(100%-40px);
            background-color: rgb(34,153,189);
        }

        /*Usando uma pseudo-classe */
        .seletor:hover{
            background-color: orangered;
        }
        /*Usando um pseudo-elemento*/
        .seletor::first-letter{
            font-size: 60px;
            font: bold;
        }
    </style>
</head>

<body>
    <div class="seletor">Conteúdo</div>
</body>

</html>
